.main1{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: url("../img/fondo.jpeg") no-repeat center center fixed;
	background-size: cover;
	backdrop-filter: blur(5px);
	align-content: contain;
	flex-direction: column;
}
.caja1 {
	width: 350px;
	height: 500px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.398);
	border-radius: 10px;
	box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);
	margin-top: -1rem;
	display: flex; /* Agregar */
	align-items: center; /* Agregar */
	justify-content: center; /* Agregar */
	flex-direction: column;
}
.titulo1 {
	color: rgb(255, 255, 255); 
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
	font-size: 90px; 
	font-weight: bold; 
	text-align: center;
	opacity: .85;
	margin-top: -3rem;
	font-family: "Quicksand", sans-serif;
  }
.tituloForms{
    color: rgba(16, 55, 16, 0.778);
    text-align: center;
    margin-top: 0px;
    font-size: 29px;
}


.opciones{
	width: 65.5%;
	height: 40px;
	justify-content: center;
	display: flex;
	margin: 20px ;
	/* padding: 20px; */
	border: none;
	outline: none;
	border-radius: 5px;
    margin-top: 2rem;
}

.cantidades {
    width: 60%;
	height: 20px;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	margin-bottom: 1.5rem;
	border: none;
	outline: none;
	border-radius: 5px;
    background: #e1e1e1;
}
.nombreInv {
    width: 60%;
	height: 20px;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
    background: #e1e1e1;
}

.buttonCultivo{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #36551d;
	font-size: 1em;
	font-weight: bold;
    margin-top: -5.8rem;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.buttonPez{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #36551d;
	font-size: 1em;
	font-weight: bold;
    margin-top: 2rem;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .caja{
		width: 280px;
		height: 380px;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.398);
		border-radius: 10px;
		box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(5px);
		margin-top: -1rem;
		flex-direction: row;
		display: flex;
	}
	.buttonPez{
		width: 60%;
		height: 40px;
		margin: 10px auto;
		justify-content: center;
		color: #fff;
		background: #36551d;
		font-size: 1em;
		font-weight: bold;
		margin-top: 2rem;
		outline: none;
		border: none;
		border-radius: 5px;
		transition: .2s ease-in;
		cursor: pointer;
		margin-bottom: 2rem;
	}
	.tituloForms{
		color: rgba(16, 55, 16, 0.778);
		text-align: center;
		margin-top: 20px;
		font-size: 18px;
	}
	.titulo1 {
		color: rgb(255, 255, 255); 
		text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
		font-size: 50px; 
		font-weight: bold; 
		text-align: center;
		opacity: .85;
		margin-top: -3rem;
		font-family: "Quicksand", sans-serif;
	  }
	  .subcaja {
		width: 280px;
		height: 380px;
		flex-shrink: 0;
		transition: transform 0.5s ease-out;
	}
	.caja1 {
		width: 280px;
		height: 380px;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.398);
		border-radius: 10px;
		box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(5px);
		margin-top: -1rem;
		display: flex; /* Agregar */
		align-items: center; /* Agregar */
		justify-content: center; /* Agregar */
		flex-direction: column;
	}

	input{
		width: 60%;
		height: 10px;
		background: #e1e1e1;
		justify-content: center;
		display: flex;
		margin: 20px auto;
		padding: 10px;
		margin-bottom: -5px;
		border: none;
		outline: none;
		border-radius: 5px;
	}
	.button2{
		width: 60%;
		height: 20px;
		margin: 10px auto;
		justify-content: center;
		display: block;
		color: #fff;
		background: #36551d;
		font-size: .8em;
		font-weight: bold;
		margin-top: 40px;
		outline: none;
		border: none;
		border-radius: 5px;
		transition: .2s ease-in;
		cursor: pointer;
	}
	label{
		color: rgba(16, 55, 16, 0.778);
		font-size: 1.6rem;
		justify-content: center;
		display: flex;
		margin: 30px;
		font-weight: bold;
		cursor: pointer;
		transition: .5s ease-in-out;
	}
	#chk:checked ~ .login{
		transform: translateY(-290px);
	}
	.button3{
		width: 60%;
		height: 30px;
		margin: 10px auto;
		justify-content: center;
		display: block;
		color: #fff;
		background: #36551d;
		font-size: .8em;
		font-weight: bold;
		margin-top: 70px;
		outline: none;
		border: none;
		border-radius: 5px;
		transition: .2s ease-in;
		cursor: pointer;
	}
}

/* Media query para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 900px) {
	.caja{
		width: 320px;
		height: 450px;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.398);
		border-radius: 10px;
		box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(5px);
		margin-top: -1rem;
		flex-direction: row;
		display: flex;
	}
	.tituloForms{
		color: rgba(16, 55, 16, 0.778);
		text-align: center;
		margin-top: 20px;
		font-size: 22px;
	}
	.titulo1 {
		color: rgb(255, 255, 255); 
		text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
		font-size: 70px; 
		font-weight: bold; 
		text-align: center;
		opacity: .85;
		margin-top: -3rem;
		font-family: "Quicksand", sans-serif;
	  }
	  .subcaja {
		width: 320px;
		height: 450px;
		flex-shrink: 0;
		transition: transform 0.5s ease-out;
	}
	.caja1 {
		width: 320px;
		height: 450px;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.398);
		border-radius: 10px;
		box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(5px);
		margin-top: -1rem;
		display: flex; /* Agregar */
		align-items: center; /* Agregar */
		justify-content: center; /* Agregar */
		flex-direction: column;
	}

	input{
		width: 60%;
		height: 15px;
		background: #e1e1e1;
		justify-content: center;
		display: flex;
		margin: 20px auto;
		padding: 10px;
		margin-bottom: -5px;
		border: none;
		outline: none;
		border-radius: 5px;
	}
	.button2{
		width: 60%;
		height: 30px;
		margin: 10px auto;
		justify-content: center;
		display: block;
		color: #fff;
		background: #36551d;
		font-size: 1em;
		font-weight: bold;
		margin-top: 40px;
		outline: none;
		border: none;
		border-radius: 5px;
		transition: .2s ease-in;
		cursor: pointer;
	}
	label{
		color: rgba(16, 55, 16, 0.778);
		font-size: 2rem;
		justify-content: center;
		display: flex;
		margin: 35px;
		font-weight: bold;
		cursor: pointer;
		transition: .5s ease-in-out;
	}
	#chk:checked ~ .login{
		transform: translateY(-320px);
	}
	.button3{
		width: 60%;
		height: 30px;
		margin: 10px auto;
		justify-content: center;
		display: block;
		color: #fff;
		background: #36551d;
		font-size: 1em;
		font-weight: bold;
		margin-top: 70px;
		outline: none;
		border: none;
		border-radius: 5px;
		transition: .2s ease-in;
		cursor: pointer;
	}
	
}


  
